# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Environment Variables
.env
.env.*
.env.local
.env.development
.env.test
.env.production
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDEs and editors
.idea
.vscode
*.swp
*.swo
.DS_Store
*.pem
.project
.classpath
*.launch
.settings/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Cache
.cache/
.next/cache/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Misc
*.log
.DS_Store
Thumbs.db
